{% extends 'base/form.html' %}

{% block content %}
  {% from '_macroForm.html' import show_form %}
  <div class="container">
    <form class="m-5" method="POST" id='comment_form'>
      <input type="hidden" name='csrf_token' value='{{ csrf_token() }}'>
      {{ show_form(form.comment, class='form-control') }}
      <br />
      <button class="btn btn-primary form-control mb-2" type="submit">Enviar</button>
      <a href="/" class="btn btn-info form-control">
        Regresar
      </a>
    </form>
  </div>
{% endblock %}
