<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Template</title>
  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .box {
      width: 400px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid;
      background-color: brown;
    }
    h1 {
      color:coral;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="box">
      <h1>Bienvenida &nbsp;
        {% block content %}
        {% endblock %}
      </h1>
    </div>

    <ul>
      {% block lista %}
      {%  endblock %}
    </ul>
  </div>
</body>
</html>