{% extends 'base/form.html' %}
{% block title %}
  Formulario
{% endblock %}

{% block content %}
  {% from '_macroForm.html' import show_form %}
  <div class="container">
    <form class="m-5" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      {{ show_form(form.username, class='form-control') }}
      {{ show_form(form.email, class='form-control') }}
      {{ show_form(form.comment, class='form-control') }}

      {{ form.honeypot }}

      <br />
      <button class="btn btn-primary form-control" type="submit">Send</button>
    </form>

  </div>
  
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <hr />
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}